@font-face {
  font-family: "CircularXXSub";
  font-weight: 500;
  src:
    url("../../public/static/fonts/CircularXXSub-Medium.woff2") format("woff2"),
    url("../../public/static/fonts/CircularXXSub-Medium.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub";
  font-weight: 400;
  src:
    url("../../public/static/fonts/CircularXXSub-Book.woff2") format("woff2"),
    url("../../public/static/fonts/CircularXXSub-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub";
  font-weight: 700;
  src:
    url("../../public/static/fonts/CircularXXSub-Bold.woff2") format("woff2"),
    url("../../public/static/fonts/CircularXXSub-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub";
  font-weight: 400;
  font-style: italic;
  src:
    url("../../public/static/fonts/CircularXXSub-BookItalic.woff2")
      format("woff2"),
    url("../../public/static/fonts/CircularXXSub-BookItalic.woff")
      format("woff");
}

@font-face {
  font-family: "CircularXXSub";
  font-weight: 900;
  src:
    url("../../public/static/fonts/CircularXXSub-Black.woff2") format("woff2"),
    url("../../public/static/fonts/CircularXXSub-Black.woff") format("woff");
}
